@{
    Layout = "~/Views/Shared/_LayoutReset.cshtml";
}
@model WSD.TaskCloud.Contracts.DataContracts.OrgChart.AddUserRequest

@(Html.Kendo().Window()
    .Name("resetPassword")
    .Title("Lütfen Şifrenizi Resetleyiniz")
    .HtmlAttributes(new { style= "backgroundcolor:rgba(191, 221, 235, 0.20)" })
    .Animation(animation =>
    {
        animation.Open(open => open.Expand(ExpandDirection.Vertical));
    })
    .Content(@<text>
        <div id="resetDiv" class="row-type1">

        </div>
    </text>)
    .Draggable()
    .Width(700)
    .Height(150)
    .Visible(false)
    .Events(ev => ev.Open("onOpenContentWND"))
)


<script>
    $(document).ready(function () {
        $("#resetPassword").data("kendoWindow").center();
        $("#resetPassword").data("kendoWindow").open();
        $('#resetDiv').load('@Html.Raw(@Url.Action("Reset", "Account",new { @passUser = Model.Password, @opUserID = Model.OpUserID }))');
    });
    $(function () {
    });
</script>
<style>
    .k-window-actions {
        display: none;
    }
</style>