<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="CacheProviderSettings" type="CachingInfra.CacheProviderSection, CachingInfra"/>
  </configSections>
  <CacheProviderSettings type="CachingInfra.CacheProviderSettings, CachingInfra" ServiceBaseTypeName="WSD.TaskCloud.WcfServices.ServiceBase, WSD.TaskCloud.WcfServices">
    <CacheItems>
      <!--Cache'lenecek tablo dolu olmalı-->
      <!--<CacheItem CacheItemName="Profession" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.Profession,WSD.TaskCloud.Contracts.EF"></CacheItem>-->
      <CacheItem CacheItemName="Department" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.Department, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="PriorityType" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.PriorityType, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="PrivacyType" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.PrivacyType, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="ResultType" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.ResultType, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="StateType" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.StateType, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="TaskType" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.TaskType, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="Role" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.Role, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="Title" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.Title, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="Reference" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.Reference, WSD.TaskCloud.Contracts"></CacheItem>
      <CacheItem CacheItemName="TaskBy" ConnectionName="TaskCloudEntities" MinutesToExpire="10" EFObjectName="WSD.TaskCloud.Contracts.EF.TaskBy, WSD.TaskCloud.Contracts"></CacheItem>
      
    </CacheItems>
  </CacheProviderSettings>

  <connectionStrings>
    <add name="TaskCloudEntities" connectionString="metadata=res://*/TaskCloudModel.csdl|res://*/TaskCloudModel.ssdl|res://*/TaskCloudModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERCANLNV;initial catalog=TaskCloudDB;persist security info=True;user id=sa;password=1234qqqQ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TaskCloudEntities" connectionString="metadata=res://*/TaskCloudModel.csdl|res://*/TaskCloudModel.ssdl|res://*/TaskCloudModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-SERKANU;initial catalog=TaskCloudDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="FileUploadPath" value="E://WSD.TaskCloud.Data"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="WSDErrorHandler"  type="DataServerInfra.Behaviors.ErrorHandlerServiceBehaviorExtension, DataServerInfra, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="internal">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<WSDErrorHandler />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="WSD.TaskCloud.WcfServices.Implementation.Service1.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <services>
      <service name="WSD.TaskCloud.WcfServices.Implementation.CacheService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.ICacheService" />
      </service>
      <service name="WSD.TaskCloud.WcfServices.Implementation.AuthenticationService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.IAuthenticationService" />
      </service>
      <service name="WSD.TaskCloud.WcfServices.Implementation.AccountService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.IAccountService" />
      </service>
      <service name="WSD.TaskCloud.WcfServices.Implementation.GeneralDefinitionsService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.IGeneralDefinitionsService" />
      </service>
      <service name="WSD.TaskCloud.WcfServices.Implementation.TaskService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.ITaskService" />
      </service>
      <service name="WSD.TaskCloud.WcfServices.Implementation.TaskBoxService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.ITaskBoxService" />
      </service>
      <service name="WSD.TaskCloud.WcfServices.Implementation.DashboardService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WSD.TaskCloud.Contracts.ServiceContracts.IDashboardService" />
      </service>
    </services>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
