
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rowStyle">
    <fieldset>
        <div class="row row-type1">
            <div class="col-md-12 form-group paddingFixer0">
                <input type="text" id="msg" value=" " />
                <input type="button" id="send" value="send" />
                <ul id="message"></ul>
            </div>
        </div>
    </fieldset>
</div>


