@model WSD.TaskCloud.MVC.ClientContracts.MessageModel

<div style="width:300px;height:150px">
    @*<div>
        @Model.TypeOfMessage.ToString():
</div>*@
<div>
    @Model.MessageText
</div>
</div>


